$primary: #AA0601;
$secondary: #FBF2F2;
$white: #FFFFFF;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Microsoft JhengHei, Helvetica, Arial, sans-serif;
$m-base: 8px;
$p-base: 8px;